.DS_Store
node_modules
.pnpm-store
/build
/.svelte-kit
/package
# von graphql-codegen erzeugt
src/lib/gql
.env
.env.*
!.env.example
.claude

# Ignore lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock
